@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #ba68c8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 auto;
}

.header-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.header-box__logo {
  text-align: center;
  padding: 2rem;
}
.header-box__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#4fc3f7, #0277bd);
}
.header-box__nav a {
  padding: 1.5rem;
  text-decoration: none;
  color: white;
  transition: all 0.2s;
}
.header-box__nav a:hover {
  background-color: #b3e5fc;
  color: #01579b;
  transform: translateY(-3px);
}
.header-box__nav a:active {
  transform: translateY(0);
}
.header-box .header-box__carousel {
  display: flex;
  background-color: #0091ea;
  justify-content: space-evenly;
  padding: 3rem;
  flex: 1 1 auto;
}
.header-box .header-box__carousel--img {
  text-align: center;
}
.header-box .header-box__carousel--img img {
  width: 100%;
}
.header-box .header-box__carousel--text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}
.header-box .header-box__carousel--text .titre {
  font-family: "Ultra", serif;
  text-transform: capitalize;
  font-size: 4rem;
}
.header-box .header-box__carousel--text .text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.header-box .header-box__carousel--text .btn {
  background-color: #ffd600;
  padding: 1rem 2rem;
  color: #212121;
  text-decoration: none;
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10rem;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.2s;
  box-shadow: 0 1rem 2rem #424242;
}
.header-box .header-box__carousel--text .btn:hover {
  transform: translateY(-3px);
}
.header-box .header-box__carousel--text .btn:active {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem #424242;
}
