#conteneur {
  display: grid;
  grid-template-columns: 300px 50%;
  grid-template-rows: 25% 30% 40%;
  width: 800px;
  height: 700px;
  border: 1px solid #000;
  //row-gap: 10px;
  //column-gap: 20px;
  gap: 10px 20px;
  padding: 10px;
  background-color: #0277bd;

  p{
    margin: 5px;
    text-align: justify;
    padding: 5px;
    border: #000;
    background-color: #fff;
  }
}