*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

#conteneur {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 10px;
  background-color: #d2cbcb;
  margin: auto;
  width: 90%;
  border: 1px solid #000;
  padding: 10px;
}

.en-tete, .pied-page {
  grid-column: 1/3;
  background-color: #4fc3f7;
  text-align: center;
}

#sous-conteneur {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;

  p {
    background-color: #8eefb2;
    padding: 10px;
  }
}

.boite {
  padding: 5px;
  color: #fff;
}