*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

#conteneur {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: auto;
  width: 80%;
  gap: 10px;
  padding: 10px;

  & :nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  & :nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
  }

  & :nth-child(3) {
    grid-column: 5/8;
    grid-row: 1/5;
  }

  & :nth-child(4) {
    grid-column: 1/5;
    grid-row: 3/5;
  }

  & :nth-child(4) {
    grid-column: 1/8;
    grid-row: 5/7;
  }
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 3px 10px 0 10px;
  font-size: calc(.3rem + 0.8vw);
  color: #fff;
  background-color: rgba(255, 255, 255, .5);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border: 1vw solid #000;
}