@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #ba68c8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 auto;
}
