.wrapper {
  width: 60%;
  margin: 0 auto;
  background-color: #ba68c8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1 auto;
}

.header-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;

  &__logo {
    text-align: center;
    padding: 2rem;
  }

  &__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    background-image: linear-gradient(#29b6f6, #0277bd);

    a {
      padding: 1.5rem;
      text-decoration: none;
      color: white;
      transition: all .2s;
      
      &:hover{
        background-color: #b3e5fc;
        color: #01579b;
        transform: translateY(-3px);
      }

      &:active{
        transform: translateY(0);
      }
    }
  }
}