@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/*
  vert clair : #c8e6c9
  vert normal : #81c784
  vert sombre : #4caf50
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(3, 155, 229, 0.8), rgba(76, 175, 80, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}
.header .logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.header .logo-box .logo {
  height: 35px;
}
.header .text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .text-box .heading-primary {
  color: #fff;
  text-transform: uppercase;
}
.header .text-box .heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 2s;
}
.header .text-box .heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.2px;
  animation-name: moveInRight;
  animation-duration: 2s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  50% {
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
