@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/*
  vert clair : #c8e6c9
  vert normal : #81c784
  vert sombre : #4caf50
*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgb(3, 155, 229, .8), rgb(76, 175, 80, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  position: relative; //Par rapport à la position absolue du logo-box

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;

    .logo {
      height: 35px;
    }
  }

  .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    //background-color: red;
    //Pour le centrage avec exc=actitude
    transform: translate(-50%, -50%);

    text-align: center; //Pour le centrage du bouton

    .heading-primary {
      color: #fff;
      text-transform: uppercase;
      //backface-visibility: hidden;

      &-main {
        display: block;
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 35px;

        animation-name: moveInLeft;
        animation-duration: 2s;
        //animation-delay: 3s;
      }

      &-sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 17.2px;

        animation-name: moveInRight;
        animation-duration: 2s;
        //animation-delay: 3s;

        margin-bottom: 25px;
      }
    }
  }
}

@keyframes moveInLeft {
  0% {
    //Debut de l'animation
    opacity: 0;
    transform: translateX(-100px);
  }

  50% {
    //Milieu de l'animation
    transform: translateX(50px);
  }

  100% {
    //Fin de l'animation
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    //Debut de l'animation
    opacity: 0;
    transform: translateX(100px);
  }

  50% {
    //Milieu de l'animation
    transform: translateX(-50px);
  }

  100% {
    //Fin de l'animation
    opacity: 1;
    transform: translate(0);
  }
}

.btn {

  //: pour les pseudos classes
  &:link, &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;

    //positionnement du after
    //position: relative;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  }

  //:: pour les pseudos elements
  //&::after {
  //  content: "";
  //  display: inline-block;
  //  height: 100%;
  //  width: 100%;
  //  border-radius: 100px;
  //
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //}
}

.btn-white {
  background-color: #fff;

  //:: pour les pseudos elements
  //&::after{
  //  background-color: #fff;
  //}
}